.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  box-shadow: 10px 20px var(--grey);
  transition: box-shadow 0.15s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 20px 50px var(--grey)
}

.selected {
  box-shadow: 10px 20px var(--orange);
}

.card.selected:hover {
  box-shadow: 20px 50px var(--orange);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p,
.card .link {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.card .link {
  color: orange;
}

.card .link:hover {
  text-decoration: underline;
}

.image {
  position: relative;
  width: 15rem;
  height: 15rem;
}